<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <title>PUZZLE GALAXIE</title>
  <!--Lien vers cdn Boostraps-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
  <!--Lien vers Icönes Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!-- Lien vers GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" />
  <!-- Lien vers Fichier Style -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <!-- Lien ICONE DE PAGE -->
  <link rel="icon" href="assets/img/PuzzleGalaxie.png" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
  <script src="assets/js/script.js"></script>
</head>
<body ng-app="appPuzzle" ng-controller="displayContent">
  <!-- Navbar Fred -->
  <nav class="navbar fixed-top navbar navbar-expand-md">
    <img class="nv2" src="assets/img/puzzlegalaxie.png"/>
    <a class="navbar-brand" href="#">  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-align-justify"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" id="changeCategoryList">
        <li class="nav-item activeCategory">
          <a class="nav-link" href="#" ng-click="changeCategory('')">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changeCategory({category : 'enfant'})">Puzzle Enfant <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changeCategory({category : 'adulte'})">Puzzle Adulte <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changeCategory({category : '3D'})">Puzzle 3D <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="changeCategory({category : 'film'})">Film <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <input type="search" class="form-control" ng-model="filterText" placeholder="Recherche" />
        </li>
        <!-- Button modal -->
        <button href="#myModal" type="button" class="btn grey" id="myBtn" data-toggle="modal">{{totalPriceItems() | number : 2}} € ({{totalQtyKeyBasket()}})<span class="fas fa-shopping-cart fa-2x"></span></button>
      </ul>
    </div>
  </nav>
  <!-- Navbar Fin -->

  <!-- Modal début -->
  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title m-auto">Votre panier</h3>
        </div>
        <div class="modal-body p-4" id="result" ng-repeat="(key, value) in quantityBasket">
          <div class="imageArticleContainer">
            <img src={{puzzles[key].image}} alt="image de l'article" class="imageArticle">
            <p class="text-center mt-1">ref : {{puzzles[key].ref}}</p>
          </div>
          <div class="infoArticleContainer">
            <h4 class="text-center">{{puzzles[key].name}}</h4>
            <p class="text-center">{{puzzles[key].desc}}</p>
          </div>
          <div class="priceArticleContainer ml-4">
            <h5>{{puzzles[key].price * value | number : 2}} €</h5>
            <h6 class="quantity">Qté : {{value}}</h6>
            <div>
              <button type="button" name="decrease" class="btn" ng-click="lessQty(key)">-</button>
              <button type="button" name="increase" class="btn" ng-click="addQty(key)">+</button>
            </div>
          </div>
          <button type="button" name="remove" class="btn btn-primary" id="remove" ng-click="removeItem(key)">Supprimer</button>
        </div>
        <div class="modal-footer">
          <h5 id="total">Total : {{totalPriceItems() | number : 2}} €</h5>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuer vos achats</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal fin -->
  <div>
    <select>
      <option ng-click="changeOrder('')">Trier par</option>
      <option ng-click="changeOrder('name')">nom A-Z</option>
      <option ng-click="changeOrder('-name')">nom Z-A</option>
      <option ng-click="changeOrder('price')">prix croissant</option>
      <option ng-click="changeOrder('-price')">prix décroissant</option>
    </select>
  </div>
  <div ng-show="!searchFilter.length">Aucun résultat ne correspond à la recherche : {{filterText}}</div>
  <div class="container-fluid">
    <div class="row">
      <div class="card-group col-lg-4 col-md-6 col-xs-12" ng-repeat="puzzle in searchFilter = (puzzles | filter : filterText)| filter : filterCategory | orderBy : orderby  track by $index">
        <div class="card">
          <img class="card-img-top" src="{{puzzle.image}}" alt="{{puzzle.name}}" />
          <div class="card-body">
            <h3>{{puzzle.name}}</h3>
            <p>{{puzzle.desc}}</p>
            <p>{{puzzle.price | number : 2}}€</p>
          </div>
          <div class="card-footer">
            <input type="button" name="addBasket" value="Ajouter au panier" class="btn btn-primary center" ng-click="addBasket($index)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Fred-->
  <footer class="page-footer">
    <div class="container-fluid">
      <div id="socialLink">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Rejoignez-nous sur les réseaux</h6>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right fa-3x">
            <!-- Facebook -->
            <a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook-square fa-spin"></i></a>
            <!-- Twitter -->
            <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter-square fa-spin"> </i> </a>
            <!-- Google +-->
            <a href="https://plus.google.com/?hl=fr"><i class="fab fa-google-plus-square fa-spin"> </i> </a>
            <!--Linkedin -->
            <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin fa-spin"> </i> </a>
            <!--Instagram-->
            <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram fa-spin"> </i> </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </div>
    </div>
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Vos puzzles chez vous en 48h chrono</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p><img src="assets/img/PuzzleGalaxie.png" class="img-responsive" alt="logo"></p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">PUZZLE GALAXIE</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p>
            <a class="dark-grey-text" href="#body">Accueil</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Aide</a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p>
            <a class="dark-grey-text" href="#!">Votre Compte</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Livraison</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Conditions générales de ventes</a>
          </p>
          <p>Nos moyens de Paiements : </p>
          <p>
            <i class="fab fa-cc-visa fa-2x"></i>
            <i class="fab fa-cc-mastercard fa-2x"></i>
            <i class="fab fa-cc-amex fa-2x"></i>
            <i class="fab fa-cc-paypal fa-2x"></i>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Nous Contacter</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
          <p>
            <i class="fa fa-home mr-3"></i> 60400 NOYON, 100 rue Charles Hernu, France</p>
            <p>
              <i class="fa fa-envelope mr-3"></i><a href="mailto: "> info@PuzzleGalaxie.com</a></p>
              <p>
                <i class="fa fa-phone mr-3"></i><a href="tel: "> + 03 234 567 88</a></p>
                <p>
                  <i class="fa fa-print mr-3"></i><a href="tel: "> + 03 234 567 89</a></p>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center text-black-50 py-3">
              <a class="dark-grey-text" href="#">Mentions légales </a> © 2018 Copyright: <a class="dark-grey-text" href="#"> PuzzleGalaxie.com</a>
            </div>
            <!-- Copyright -->
          </footer>
          <!-- Footer Fred-->
        </body>
        </html>
