/*css Fred*/
body {
  padding-top: 150px;
  background-image: url(../img/puzzle-y.jpg);
}
.navbar {
  background-image: url(../img/puzzle-y.jpg);
  font-size: x-large;
}
.nav-link {
  color: black;
}
#myBtn{position:absolute;
        right:0;
  color:black;
  background-color: inherit;
}
#socialLink {

}
h6 {
  font-size: x-large;
}
i {
  color: #4c4523;
}
a {
  color : #4c4523;
}
a:hover {
color: #black;
}
/*fin css Fred*/

/*cards Amélie*/
.card-img-top{
  width: auto;
  height: 450px;
}
.card-footer{
  text-align: center;
}
